[{
  "endpointSelector": {"matchLabels": {"app": "opengrok"}},
  "ingress": [{
    "toPorts": [{
      "rules": {
        "HTTP": [
          {
            "method": "GET",
            "path": "/source$"
          }
        ]
      }
    }]
  }]
}]
